@import url('../fonts/fonts.css');

body, html {
  margin: 0;
  padding: 0;
  font-family: NotoEmoji, "Red Hat Display", sans-serif;
  color: #555;
  transition: all 500ms linear;
  background-color: #f6f5f4;
}

a {
  color: #1a5fb4;

  &:visited {
    color: #1a5fb4;
  }
}

video {
  display: block;
  max-width: 90%;
  margin: auto;
}

nav {
  img {
    display: inline-block !important;
    margin: 0 0 0 0 !important;
    height: 32px;
    vertical-align: middle;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin: 0 auto;
    padding: 0;
    max-width: 1050px;

    li {
      font-size: larger;
      height: 100%;
      display: table;
      color: white;
      flex-grow: 1;

      &.spacer {
        display: block;
        background-color: #00000000 !important;
      }

      a {
        padding: 0 12px 0 12px;
        text-decoration: none;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        color: white !important;
        transition: all ease-in-out .15s;
        background-color: rgba(98, 160, 234, 0);

        &:hover {
          background-color: rgba(98, 160, 234, 0.8);
        }
      }

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  margin: 0 0 0 0;
  width: 100%;
  background-color: #3584E400;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all ease-in-out .15s;
  box-shadow: unset;
}

html:not([data-scroll='0']) nav {
  background-color: #3584E4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1, h2, h3, p {
  max-width: 1000px !important;
  margin: auto;
  padding-top: 24px;
  text-align: left;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  padding-top: 20px;
}

h3 {
  font-size: 1.7em;
}

img, p {
  display: block;
  margin: auto;
  max-width: 100%;
}

p, code, main ul li, .link_button {
  font-size: 1.3em;
}

code {
  padding: 5px;
  background-color: #deddda;
  border-radius: 2px;
  transition: all ease-in-out .15s;
}

hr {
  border: none;
  background-color: #c0c0c0;
  width: 40%;
  height: 1px;
  margin: 100px auto 30px auto;
  clear: both;
}

.hbox {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  align-items: center;
}

main {
  min-height: 100vh;
  padding-bottom: 100px;
  p, h3 {
    text-align: center;
  }

  > div {
    max-width: 1000px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
  }

  h2 {
    padding-top: 60px;
    margin-bottom: 48px;
    text-align: left;
  }
  img, video {
    margin: 24px auto;
  }
  .hbox {

    img {
      min-width: 200px;
      max-width: 700px;
    }

    div, p {
      min-width: 260px;
      width: 100%;
      display: block;
      flex-shrink: 2;
    }
  }
}

.leftAlign {
  h2, h3, p {
    text-align: left;
  }
}

#darkmodetoggle {
  cursor: pointer;
  z-index: 99999999;
}

footer {
  padding: 24px 24px 24px 24px;
  background-color: #241F31;
  transition: all 500ms linear;
  color: white;

  a, a:visited {
    color: white;
  }

  p, h4, ul {
    font-size: medium;
    max-width: 300px;
    margin: auto;
  }

  p, h4 {
    padding: 24px 24px 24px 24px;
    text-align: center;
  }
}

///////////////////////////////////////////////////////////////////////////////

#app_gallery {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 60px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  h1, h2, p, a {
    text-align: center;
  }

  > * {
    margin: 12px;
  }

  .app_card {
    transition: all 500ms linear;
    background-color: white;
    width: 300px;
    min-width: 300px;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;

    .app_icon {
      max-width: 80px;
      max-height: 80px;
      width: 80px;
    }

    h2 {
      padding: 6px;
      margin: 0;
      font-size: 2em;
    }

    .description {
      height: 3.5em;
    }

    .features {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 24px;
      min-height: 42px;
      img {
        max-width: 24px;
        max-height: 24px;
        height: 24px;
        margin: 6px;
        cursor: pointer;
      }

      .feature_tooltip {
        position: relative;
        display: inline-block;

        .tooltip {
          position: absolute;
          width: 180px;
          bottom: 110%;
          left: 50%;
          transform: translateX(-50%);
          padding: 5px;
          background-color: rgba(94, 92, 100, 0.8);
          border-radius: 3px;
          font-size: .85em;
          color: white;
          visibility: hidden;
          opacity: 0;
          transition: all ease-in-out .15s;
        }

        &:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .card_buttons {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      margin: 24px -24px -24px -24px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      > * {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        padding-top: 12px;
        padding-bottom: 12px;
        width: 50%;
      }

      a {
        text-decoration: none;
        background-color: none;
        transition: background-color ease-in-out .15s;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      > *:last-child {
        border-right: none;
      }
    }
  }
}

.link_button {
  color: white !important;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  margin: 24px 6px;
  background-color: #3584e4;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out .15s;

  &:hover {
    background-color: #62a0ea;
  }
}

.link_button_border {
  padding: 10px;
  border: 2px solid #3584e4;
  background-color: #3584e433;
  &:hover {
    background-color: #62a0ea55;
  }
}

///////////////////////////////////////////////////////////////////////////////

#jumbotron {
  padding-top: 70px;
  padding-bottom: 120px;
  min-height: 350px;
  background-image: linear-gradient(135deg, #ffa348, #c061cb);
  background-size: cover;
  color: white;
  margin-bottom: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  &.img_bg {
    background-image: url('./assets/img/jumbotron-bg.jpg');
  }

  .content {
    max-width: 1000px;
    margin: auto;
    padding: 24px 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    > div {
      flex-basis: 340px;
      flex-shrink: 0;
      flex-grow: 1;
      //margin-right: 48px;
    }
    > img {
      padding: 6px;
      margin-bottom: -80px;
      flex-basis: 450px;
      flex-grow: 5;
    }
  }

  a {
    color: white !important;
  }

  h1, p {
    margin: 0;
    text-align: left;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  h1 {
    font-size: 3.0em;
  }

  p {
    font-size: 1.2em;
  }

  .hbox {
    .title {
      flex-grow: 99999;
    }

    img {
      height: 90px;
      width: 90px;
      margin-right: 24px;
    }

    .title {
      h1, p {
        margin: 6px;
        padding: 0;
      }
    }

    justify-content: left;
  }
}

///////////////////////////////////////////////////////////////////////////////

.darkmode {
  background-color: #241F31;
  color: #FFFFFF;

  #app_gallery {
    .app_card {
      background-color: #3d3846;

       .card_buttons a:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .features img {
        filter: invert(1);
      }
    }
  }
  a {
    color: white;

    &:visited {
      color: white;
    }
  }

  footer {
    background-color: #000000;
  }

  code {
    background-color: black;
  }
}

@media (prefers-color-scheme: dark) {
  #color_preference_detector {
    content: 'dark';
  }
}

@media only screen and (max-width: 560px) {
  nav {
    ul li {
      a {
        padding: 0 6px;
      }

      strong {
        display: none;
      }

      font-size: medium;
    }
  }

  main .hbox {
    flex-wrap: wrap;
  }

  #jumbotron {
    .hbox img {
      width: 60px;
      height: 60px;
    }
    .title {
      h1 {
        font-size: 2em;
      }
      p {
        font-size: 1em;
      }
    }
  }

  .link_button {
    font-size: 1em;
  }
}
